<%= render "shared/banner" %>
<div class="container">
  <h1> My cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/cards", cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>


